/* los vinculoss presentan varios estados, dentro de los cuales tenemos:
link: el vinculo normal
visited: cuando le has sido visitado
hover: 
activate 
*/
a.vinculo1:link {
  color: chartreuse;
}

a.vinculo1:visited {
  color: chocolate;
}

a.vinculo1:hover {
  color: darkviolet;
}

a.vinculo1:active {
  color: darkturquoise;
}

/* quitamos lass decoraciones del texto */
a.vinculo2:link {
  text-decoration: none;
}
a.vinculo2:visited {
  text-decoration: none;
}
a.vinculo2:hover {
  text-decoration: none;
}

a.vinculo2:active {
  text-decoration: none;
}
/* generamos un esilo para que el vinculo parezca un botón */

a.vinculo3:link,
a.vinculo3:visited {
  background-color: green;
  color: white;
  padding: 12px;
  text-decoration: none;
}

a.vinculo3:hover,
a.vinculo3:active {
  background-color: red;
}

/* generamos un esilo para que el vinculo parezca un botón */

a.vinculo4:link,
a.vinculo4:visited {
  background-color: royalblue;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

a.vinculo4:hover,
a.vinculo4:active {
  background-color: black;
}
