.caja1 {
  width: 300px;
  margin: auto;
  border: 5px solid rgb(114, 47, 168);
}

/* define el tamaño maximo que puede tener el elemento */
.caja2 {
  max-width: 300px;
  margin: auto;
  border: 5px solid greenyellow;
}

.contenedor {
  width: 95%;
  height: 400px;
  margin: auto;
  background-color: hotpink;
}

.contenedor2 {
  width: 95%;
  max-width: 800px;
  height: 400px;
  margin: auto;
  background-color: lavender;
}
