ul {
  background-color: cornflowerblue;
  padding: 10px;
  list-style-position: inside;
}

ul li {
  background-color: cornsilk;
  margin: 3px;
}

ul li ul {
  background-color: cyan;
  padding: 5px;
  list-style-position: outside;
}

ul li ul li {
  background-color: rgb(107, 189, 162);
  margin: 3px;
}
ul li ul li ul {
  background-color: coral;
  list-style-type: disc;
  list-style-position: inside;
}
ul li ul li ul li {
  background-color: crimson;
  color: whitesmoke;
}

ol {
  background-color: cornflowerblue;
  padding: 10px;
  list-style-position: inside;
}

ol li {
  background-color: cornsilk;
  margin: 3px;
}

ol li ol {
  background-color: cyan;
  padding: 5px;
  list-style-position: outside;
}

ol li ol li {
  background-color: rgb(107, 189, 162);
  margin: 3px;
}
ol li ol li ol {
  background-color: coral;
  list-style-type: disc;
  list-style-position: inside;
}
ol li ol li ol li {
  background-color: crimson;
  color: whitesmoke;
}
