.contenedor {
  width: 980px;
  height: 800px;
  background-color: rgb(28, 136, 163);
  margin: auto;
}
.cabecera {
  width: 980px;
  height: 250px;
  background-color: rgb(74, 54, 187);
}
.menu {
  width: 310px;
  height: 490px;
  background-color: lightcoral;
}
.contenido {
  width: 670px;
  height: 490px;
  background-color: rgb(238, 170, 67);
  margin-left: 310px;
  margin-top: -490px;
}
.pie {
  width: 980px;
  height: 60px;
  background-color: lightblue;
}
