.menu {
  color: darkseagreen;
  font-size: larger;
  font-weight: bolder;
}

.parrafo {
  color: darkturquoise;
  font-style: italic;
}
.tituloparrafo {
  color: indigo;
  font-weight: bolder;
  font-size: larger;
}
