body {
  background-color: darkslateblue;
}
.contenedor {
  background-color: darkgray;
}
header {
  background-color: darkorchid;
}
nav {
  background-color: darkseagreen;
}
section {
  background-color: white;
}
footer {
  background-color: yellowgreen;
}

/* Agregamos un borde de tipo dotted */
.border1 {
  border-style: dotted;
}
.border2 {
  border-style: dashed;
}
.border3 {
  border-style: solid;
}
.border4 {
  border-style: double;
}
.border5 {
  border-style: groove;
}
.border6 {
  border-style: ridge;
}
.border7 {
  border-style: inset;
}
.border8 {
  border-style: outset;
}
.border9 {
  border-style: none;
}
.border10 {
  border-style: hidden;
}

/* Agregamos un borde de tipo combinado 
cuando realizamos bordes combiados la sintaxis seria la siguiente:
border-style: (Arriba y Abajo) (Izquierda y Derecha);
border-style: (Arriba) (Izquierda y Derecha) (Abajo);
border-style: (Arriba) (Derecha) (Abajo) (Izquierda);
*/

.border11 {
  border-style: dotted dashed solid double;
}
/* Aplicamos bordes cambiando ell ancho del borde */

.border12 {
  border-style: dotted;
  border-width: 10px;
}
.border13 {
  border-style: dashed;
  border-width: medium;
}
.border14 {
  border-style: solid;
  border-width: 10px 15px 4px 7px;
}
.border15 {
  border-style: solid;
  border-color: deeppink;
}
.border16 {
  border-style: dashed;
  border-color: deeppink rebeccapurple blue yellowgreen;
}
/* Aplicamos bordes solo a un lugar específico */

.border17 {
  border-top-style: dashed;
}
.border18 {
  border-bottom-style: dashed;
}
.border19 {
  border-left-style: solid;
}
.border20 {
  border-right-style: double;
}

/* Aplicamos bordes redondeandolos */

.border21 {
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
}
.border22 {
  border-style: solid;
  border-width: 20px;
  border-radius: 15px;
}
