body {
  background-color: goldenrod;
}
.contenedor {
  background-color: greenyellow;
}
.caja1 {
  border-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: indigo;
}

/* Agregar margenes para cada etiqueta div */
/* Agregamos margen a la izquierda */

.caja2 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: indigo;
  margin-left: 40px;
}

.caja3 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: indigo;
  margin-right: 40px;
}

.caja4 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: indigo;
  margin-top: 40px;
}

.caja5 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: indigo;
  margin-bottom: 40px;
}

.caja6 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: indigo;
  margin-bottom: 20px 80px 30px 10px;
}

.caja7 {
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: indigo;
  margin: auto;
}
