@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  padding: 10px;
}
body {
  background-color: rgb(231, 149, 211);
}
.contenedor {
  background-color: whitesmoke;
}
/* agregamos el tipo de letra */
.parrafo1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.parrafo2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* agregamos estilos al parrafo */
.parrafo3 {
  font-style: italic;
}
.parrafo4 {
  font-style: oblique;
}
.parrafo5 {
  font-style: normal;
}
.parrafo6 {
  font-weight: bold;
}

.parrafo7 {
  font-weight: bolder;
}
.parrafo8 {
  font-variant: small-caps;
}
.parrafo9 {
  font-style: oblique;
}
.parrafo10 {
  font-style: oblique;
}

/* agregamos fuente de google */

@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/IndieFlower-Regular.ttf");
}
@font-face {
  font-family: "Reggae One";
  src: url("/fonts/ReggaeOne-Regular.ttf");
}

.parrafo11 {
  font-family: "Reggae One";
}
.parrafo12 {
  font-family: "Indie Flower";
}
.parrafo13 {
  font-family: "Pacifico", cursive;
}
.parrafo14 {
  font-family: "Reggae One";
  font-size: 25px;
}
