body {
  background-color: orange;
}

/* Definiendo el alto y el ancho de una caja */
.contenedor {
  background-color: green;
  width: 1024px;
  height: 768px;
  margin: auto;
}
.caja1 {
  background-color: hotpink;
  width: 350px;
  height: 110px;
}
.caja2 {
  background-color: khaki;
  width: 450px;
  height: 280px;
}
.caja3 {
  background-color: lightblue;
  width: 150px;
  height: 150px;
}
